---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: n8n
  namespace: selfhosted
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.2.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"

    image:
      repository: ghcr.io/n8n-io/n8n
      tag: 1.16.0@sha256:e2b40c42b622fea084c2575e7e3682aed47fa8daa71f146794374cf8c868a544

    command:
      - n8n

    env:
      GENERIC_TIMEZONE: "America/New_York"
      N8N_PROTOCOL: "https"
      N8N_PORT: &port 8080
      N8N_HOST: "n8n.greyrock.casa"
      N8N_LOG_LEVEL: info
      N8N_LOG_OUTPUT: console
      N8N_ENCRYPTION_KEY:
        valueFrom:
          secretKeyRef:
            name: n8n-secret
            key: N8N_ENCRYPTION_KEY

    service:
      main:
        ports:
          http:
            port: *port

    ingress:
      main:
        enabled: true
        ingressClassName: "external-nginx"
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/instance: "todd"
          hajimari.io/icon: "mdi:workflow"
          nginx.ingress.kubernetes.io/auth-url: https://auth.greyrock.casa/oauth2/auth?allowed_groups=admins
          nginx.ingress.kubernetes.io/auth-signin: https://auth.greyrock.casa/oauth2/start?rd=$scheme://$best_http_host$request_uri
          nginx.ingress.kubernetes.io/auth-response-headers: "x-auth-request-email, x-auth-request-groups"
          external-dns.alpha.kubernetes.io/target: ingress-ext.greyrock.casa
        hosts:
          - host: &host "n8n.greyrock.casa"
            paths:
              - path: /
        tls:
          - hosts:
              - *host

    podSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      fsGroupChangePolicy: "OnRootMismatch"

    resources:
      requests:
        cpu: 5m
        memory: 351M
      limits:
        memory: 351M

    volumeClaimTemplates:
      - name: config
        mountPath: /home/node/.n8n
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: ceph-block
