---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: zwave-js-ui
  namespace: home-automation
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      type: statefulset

    image:
      repository: ghcr.io/zwave-js/zwave-js-ui
      tag: 8.24.0@sha256:29c6bdc36d1737b254e8dd5770c9a68fb9dba91958a6b6c257f87ce90677c13e

    service:
      main:
        ports:
          http:
            port: &port 8091
          websocket:
            enabled: true
            port: 3000

    serviceMonitor:
      main:
        enabled: true

    probes:
      liveness: &probes
        enabled: true
        custom: true
        spec:
          httpGet:
            path: /health
            port: *port
          initialDelaySeconds: 0
          periodSeconds: 10
          timeoutSeconds: 1
          failureThreshold: 3
      readiness: *probes
      startup:
        enabled: false

    ingress:
      main:
        enabled: true
        ingressClassName: internal-nginx
        hosts:
          - host: &host "zwave-js-ui.greyrock.casa"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host

    securityContext:
      privileged: true

    persistence:
      config:
        enabled: true
        mountPath: /usr/src/app/store
        existingClaim: zwave-js-ui-data
      usb:
        enabled: true
        type: hostPath
        hostPath: /dev/serial/by-id/usb-0658_0200-if00
        hostPathType: CharDevice

    nodeSelector:
      zooz.feature.node.kubernetes.io/zwave: "true"

    resources:
      requests:
        cpu: 14m
        memory: 303M
      limits:
        memory: 303M
