---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: invidious-server
  namespace: selfhosted
spec:
  interval: 15m

  chart:
    spec:
      chart: app-template
      version: 1.3.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  install:
    createNamespace: true
    remediation:
      retries: 5

  upgrade:
    remediation:
      retries: 5

  values:
    controller:
      annotations:
        reloader.stakater.com/auto: "true"

    initContainers:
      init-db:
        image: ghcr.io/onedr0p/postgres-initdb:14.7@sha256:9a82796ecc291a42ba3e2e4813a9c086fe7674160b9df18aeaec265b09e4a3f6
        imagePullPolicy: IfNotPresent
        envFrom:
          - secretRef:
              name: invidious-server-secret

    image:
      repository: quay.io/invidious/invidious
      tag: latest@sha256:53b297d0af061b69863378bf1e1c3da7af2b06bb34ae672c89703271b120180b

    envFrom:
      - secretRef:
          name: invidious-server-secret

    service:
      main:
        ports:
          http:
            port: &port 3000

    ingress:
      main:
        enabled: true
        ingressClassName: 'nginx'
        annotations:
          nginx.ingress.kubernetes.io/whitelist-source-range: "10.0.0.0/8,172.16.0.0/12,192.168.0.0/16"
          hajimari.io/enable: "true"
          hajimari.io/instance: "todd,andy"
          hajimari.io/appName: Invidious
          hajimari.io/icon: simple-icons:youtube
        hosts:
          - host: &host 'invidious.greyrock.tech'
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host

    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: invidious-server

    resources:
      requests:
        cpu: 5m
        memory: 300Mi
      limits:
        memory: 1000Mi
