---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: invidious-server
  namespace: selfhosted
spec:
  interval: 15m

  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  install:
    createNamespace: true
    remediation:
      retries: 5

  upgrade:
    remediation:
      retries: 5

  values:
    controller:
      annotations:
        reloader.stakater.com/auto: "true"

    image:
      repository: quay.io/invidious/invidious
      tag: latest@sha256:8a5a79a8b809f8c1ab26edc54747709750d97afc3729be60838e51afd723a868

    envFrom:
      - secretRef:
          name: invidious-server-secret

    service:
      main:
        ports:
          http:
            port: &port 3000

    ingress:
      main:
        enabled: true
        ingressClassName: "internal-nginx"
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/instance: "andy"
          hajimari.io/appName: Invidious
          hajimari.io/icon: simple-icons:youtube
        hosts:
          - host: &host "invidious.greyrock.casa"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host

    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: invidious-server

    resources:
      requests:
        cpu: 5m
        memory: 200M
      limits:
        memory: 512M
