---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app hajimari-todd
  namespace: selfhosted
spec:
  interval: 15m
  chart:
    spec:
      # renovate: registryUrl=https://hajimari.io
      chart: hajimari
      version: 2.0.2
      sourceRef:
        kind: HelmRepository
        name: hajimari
        namespace: flux-system
  values:
    image:
      repository: ghcr.io/toboshii/hajimari
      tag: v0.3.1

    controller:
      replicas: 2
      strategy: RollingUpdate

    hajimari:
      defaultEnable: false
      darkTheme: chalk
      instanceName: "todd"
      title: "Todd's Homepage"
      showAppUrls: false
      showAppInfo: true
      showAppGroups: true
      namespaceSelector:
        matchNames:
          - default
          - network
          - selfhosted
          - downloads
          - home-automation
          - monitoring
          - media
          - rook-ceph
      name: "Todd"
      defaultSearchProvider: DuckDuckGo
      searchProviders:
        - name: DuckDuckGo
          token: d
          icon: simple-icons:duckduckgo
          searchUrl: https://duckduckgo.com/?q={query}
          url: https://duckduckgo.com
        - name: Google
          token: g
          icon: simple-icons:google
          searchUrl: https://www.google.com/search?q={query}
          url: https://www.google.com
      customApps:
        - group: Network
          apps:
            - name: PiKVM
              url: https://pikvm.greyrock.io
              icon: video-switch

      globalBookmarks:
        - group: Lifestyle
          bookmarks:
            - name: Youtube
              url: "https://youtube.com"
        - group: FFXIV
          bookmarks:
            - name: Sub Calculator
              url: "https://www.mogship.com/submarines/exp-calculator"
            - name: Sub Map
              url: "https://i.imgur.com/QY7t5eg.png"

    ingress:
      main:
        enabled: true
        ingressClassName: internal-nginx
        hosts:
          - host: &host "home-todd.greyrock.casa"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host

    persistence:
      data:
        enabled: false

    podAnnotations:
      configmap.reloader.stakater.com/reload: hajimari-todd-settings

    resources:
      requests:
        cpu: 5m
        memory: 21M
      limits:
        memory: 21M
