{
  "storage": {
    "type": "b2",
    "config": {
      "bucket": "nas-xD6942o1",
      "keyID": "${b2_app_key_id}",
      "key": "${b2_app_key}"
    }
  },
  "caching": {
    "cacheDirectory": "/app/cache",
    "maxCacheSize": 5242880000,
    "maxMetadataCacheSize": 5242880000,
    "maxListCacheDuration": 30
  },
  "hostname": "nas.greyrock.io",
  "username": "todd",
  "description": "nas",
  "enableActions": false,
  "formatBlobCacheDuration": 900000000000
}
