---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app teslamate
  namespace: selfhosted
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.3.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      annotations:
        reloader.stakater.com/auto: "true"

    initContainers:
      init-db:
        image: ghcr.io/onedr0p/postgres-initdb:14.7@sha256:e5f5011ce7f20c721eda0876ccd9a023d315237d197aaf311269da424b9c6997
        envFrom:
          - secretRef:
              name: teslamate-secret

    image:
      repository: teslamate/teslamate
      tag: 1.27.2

    env:
      DATABASE_HOST:
        valueFrom:
          secretKeyRef:
            name: teslamate-secret
            key: POSTGRES_HOST
      DATABASE_NAME:
        valueFrom:
          secretKeyRef:
            name: teslamate-secret
            key: POSTGRES_DB
      DATABASE_USER:
        valueFrom:
          secretKeyRef:
            name: teslamate-secret
            key: POSTGRES_USER
      DATABASE_PASS:
        valueFrom:
          secretKeyRef:
            name: teslamate-secret
            key: POSTGRES_PASS

    envFrom:
      - secretRef:
          name: teslamate-secret

    service:
      main:
        type: ClusterIP
        ports:
          http:
            port: 4000

    ingress:
      main:
        annotations:
          nginx.ingress.kubernetes.io/whitelist-source-range: "10.0.0.0/8,172.16.0.0/12,192.168.0.0/16"
          hajimari.io/enable: "true"
          hajimari.io/instance: "todd"
          hajimari.io/icon: "car-electric"
        enabled: true
        ingressClassName: "nginx"
        hosts:
          - host: &host "teslamate.greyrock.tech"
            paths:
              - path: /
        tls:
          - hosts:
              - *host
    postgresql:
      enabled: false
