---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: radarr
  namespace: downloads
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controller:
      annotations:
        reloader.stakater.com/auto: "true"

    image:
      repository: ghcr.io/onedr0p/radarr-develop
      tag: 4.7.4.7758@sha256:5ac85e39edda507503328e03812b05cfc1a5fd8205f889f39fab0fa60f3a1db0

    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: "OnRootMismatch"
      supplementalGroups:
        - 65539

    env:
      RADARR__INSTANCE_NAME: Radarr
      RADARR__PORT: &port 7878
      RADARR__APPLICATION_URL: "https://radarr.greyrock.casa"
      RADARR__LOG_LEVEL: info
      RADARR__API_KEY:
        valueFrom:
          secretKeyRef:
            name: radarr-secret
            key: api_key

    service:
      main:
        ports:
          http:
            port: *port

    ingress:
      main:
        enabled: true
        ingressClassName: "internal-nginx"
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/instance: "todd,andy"
          hajimari.io/icon: "mdi:filmstrip"
          nginx.ingress.kubernetes.io/configuration-snippet: |
            proxy_set_header Accept-Encoding "";
            sub_filter '<body>' '<body><link rel="stylesheet" type="text/css" href="https://theme-park.dev/css/base/radarr/nord.css">';
            sub_filter_once on;
        hosts:
          - host: &host "radarr.greyrock.casa"
            paths:
              - path: /
        tls:
          - hosts:
              - *host

    persistence:
      config:
        enabled: true
        existingClaim: radarr-config

      media:
        enabled: true
        type: nfs
        server: "nas.greyrock.io"
        path: /tank/media
        mountPath: /data/nas-media

    resources:
      requests:
        cpu: 5m
        memory: 364M
      limits:
        memory: 1024M
