---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: autoscan
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.1.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controllers:
      autoscan:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: docker.io/cloudb0x/autoscan
              tag: 1.4.0

            env:
              PUID: 2000
              PGID: 100

            resources:
              requests:
                cpu: 5m
                memory: 34M
              limits:
                memory: 34M

    service:
      app:
        controller: autoscan
        ports:
          http:
            port: 3030

    persistence:
      config:
        existingClaim: "${VOLSYNC_CLAIM}"
        advancedMounts:
          autoscan:
            app:
              - path: /config
