---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: scribe
  namespace: services
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controller:
      annotations:
        reloader.stakater.com/auto: 'true'
      replicas: 2
      strategy: RollingUpdate

    image:
      repository: fariszr/scribe
      tag: latest

    env:
      APP_DOMAIN: scribe.greyrock.casa
      LUCKY_ENV: production
      PORT: 8080

    envFrom:
      - secretRef:
          name: scribe-secret

    service:
      main:
        ports:
          http:
            port: &port 8080

    ingress:
      main:
        enabled: true
        ingressClassName: "internal-nginx"
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/instance: "andy"
          hajimari.io/icon: simple-icons:medium
        hosts:
          - host: &host "scribe.greyrock.casa"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host

    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: scribe

    resources:
      requests:
        cpu: 5m
        memory: 10Mi
      limits:
        memory: 10Mi
