---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-cross-seed
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/greyrock-ops/apps/downloads/cross-seed/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: greyrock-ops-kubernetes
  wait: false # no flux ks dependents
  dependsOn:
    - name: cluster-apps-external-secrets-stores
    - name: cluster-apps-rook-ceph-cluster
