---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: immich-web
  namespace: selfhosted
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  dependsOn:
    - name: immich-server

  values:
    controller:
      replicas: 1
      strategy: RollingUpdate
      annotations:
        reloader.stakater.com/auto: "true"

    image:
      repository: ghcr.io/immich-app/immich-web
      tag: v1.75.0@sha256:9a1e95f515871268cc2ae1067095955cd1f862702ff7957a6b0b7659b1f91e89

    command: /bin/sh
    args:
      - ./entrypoint.sh

    env:
      DB_HOSTNAME:
        valueFrom:
          secretKeyRef:
            name: immich-pguser-immich
            key: host
      DB_USERNAME:
        valueFrom:
          secretKeyRef:
            name: immich-pguser-immich
            key: user
      DB_PASSWORD:
        valueFrom:
          secretKeyRef:
            name: immich-pguser-immich
            key: password
      DB_DATABASE_NAME:
        valueFrom:
          secretKeyRef:
            name: immich-pguser-immich
            key: dbname

    envFrom:
      - secretRef:
          name: immich-secret
      - configMapRef:
          name: immich-configmap

    service:
      main:
        ports:
          http:
            port: 3000

    ingress:
      main:
        enabled: true
        ingressClassName: external-nginx
        annotations:
          external-dns.alpha.kubernetes.io/target: ingress-ext.greyrock.casa
          nginx.ingress.kubernetes.io/configuration-snippet: |
            rewrite /api/(.*) /$1 break;
          nignx.ingress.kubernetes.io/force-ssl-redirect: "true"
          nginx.ingress.kubernetes.io/proxy-body-size: "0"
          hajimari.io/enable: "true"
          hajimari.io/instance: "andy"
          hajimari.io/appName: Immich
          hajimari.io/icon: "heroicons:photo"
        hosts:
          - host: &host photos.greyrock.casa
            paths:
              - path: /
                pathType: Prefix
              - path: /api
                pathType: Prefix
                service:
                  name: immich-server
                  port: 3001
        tls:
          - hosts:
              - *host

    persistence:
      library:
        enabled: true
        type: nfs
        server: "nas.greyrock.io"
        path: /tank/backup/photos/immich
        mountPath: /usr/src/app/upload

    resources:
      requests:
        cpu: 5m
        memory: 64Mi
      limits:
        memory: 64Mi
