---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: rtlamr2mqtt
  namespace: home-automation
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.2.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    image:
      repository: allangood/rtlamr2mqtt
      tag: 2.3.3

    service:
      main:
        enabled: false

    ingress:
      main:
        enabled: false

    persistence:
      config-file:
        enabled: true
        type: secret
        name: rtlamr2mqtt-secret
        defaultMode: 400
        subPath:
          - path: RT_LAMR_CONFIG_FILE
            mountPath: /etc/rtlamr2mqtt.yaml
