---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-home-assistant
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/greyrock-ops/apps/home-automation/home-assistant/app"
  prune: false
  sourceRef:
    kind: GitRepository
    name: greyrock-ops-kubernetes
  wait: false # no flux ks dependents
  dependsOn:
    - name: cluster-apps-multus-config
    - name: cluster-apps-external-secrets-stores
    - name: cluster-apps-rook-ceph-cluster
    - name: cluster-apps-crunchy-postgres-operator
    - name: cluster-apps-external-secrets-cluster-secrets
