---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: home-automation
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"

    image:
      repository: ghcr.io/home-assistant/home-assistant
      tag: 2023.8.2@sha256:bab6a6126356e4ff30d39ee1343c69b5ab78919f0162df88b9933d9484f15ae4

    podAnnotations:
      k8s.v1.cni.cncf.io/networks: |
        [{
          "name":"multus-iot",
          "namespace": "network",
          "ips": ["10.1.3.151/24"]
        }]

    env:
      SECRET_RECORDER_DB_URL:
        valueFrom:
          secretKeyRef:
            name: home-assistant-pguser-home-assistant
            key: uri

    envFrom:
      - secretRef:
          name: home-assistant-secret

    service:
      main:
        ports:
          http:
            port: 8123

    ingress:
      main:
        enabled: true
        ingressClassName: "external-nginx"
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/instance: "todd"
          hajimari.io/icon: "mdi:home-assistant"
          external-dns.alpha.kubernetes.io/target: ingress-ext.greyrock.casa
        hosts:
          - host: &host "hass.greyrock.casa"
            paths:
              - path: /
        tls:
          - hosts:
              - *host

    persistence:
      deploy-key:
        enabled: true
        type: secret
        name: home-assistant-secret
        defaultMode: 256
        subPath:
          - path: GH_DEPLOY_KEY
            mountPath: /root/.ssh/id_rsa

    probes:
      liveness:
        enabled: false
      readiness:
        enabled: false
      startup:
        enabled: false

    resources:
      requests:
        cpu: 23m
        memory: 1165M
      limits:
        memory: 1165M

    volumeClaimTemplates:
      - name: config
        mountPath: /config
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: ceph-block
