---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: immich-server
  namespace: selfhosted
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  dependsOn:
    - name: immich-typesense

  values:
    controller:
      replicas: 1
      strategy: RollingUpdate
      annotations:
        reloader.stakater.com/auto: "true"

    image:
      repository: ghcr.io/immich-app/immich-server
      tag: v1.74.0@sha256:8899bd6885b63b7a50133a99ab14922a59972f2441fa12af13335d782f82814c

    command: /bin/sh
    args:
      - ./start-server.sh

    env:
      DB_HOSTNAME:
        valueFrom:
          secretKeyRef:
            name: immich-pguser-immich
            key: host
      DB_USERNAME:
        valueFrom:
          secretKeyRef:
            name: immich-pguser-immich
            key: user
      DB_PASSWORD:
        valueFrom:
          secretKeyRef:
            name: immich-pguser-immich
            key: password
      DB_DATABASE_NAME:
        valueFrom:
          secretKeyRef:
            name: immich-pguser-immich
            key: dbname

    envFrom:
      - secretRef:
          name: immich-secret
      - configMapRef:
          name: immich-configmap

    service:
      main:
        ports:
          http:
            port: 3001

    persistence:
      library:
        enabled: true
        type: nfs
        server: "nas.greyrock.io"
        path: /tank/backup/photos/immich
        mountPath: /usr/src/app/upload

    resources:
      requests:
        cpu: 5m
        memory: 114Mi
      limits:
        memory: 512Mi
