---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: nitter
  namespace: selfhosted
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controller:
      replicas: 2
      strategy: RollingUpdate

    image:
      repository: docker.io/zedeus/nitter
      tag: 2ac3afa5b273a502d7632e9346c7c3bc9283fb48

    service:
      main:
        ports:
          http:
            port: &port 8080

    ingress:
      main:
        enabled: true
        ingressClassName: "internal-nginx"
        hosts:
          - host: &host "nitter.greyrock.casa"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host

    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: nitter

    probes:
      liveness: &probes
        enabled: false
        custom: true
        spec:
          httpGet:
            path: /settings
            port: *port
          initialDelaySeconds: 0
          periodSeconds: 10
          timeoutSeconds: 1
          failureThreshold: 3
      readiness: *probes
      startup:
        enabled: false

    persistence:
      config-file:
        enabled: true
        type: secret
        name: nitter-secret
        subPath:
          - path: NITTER_CONFIG_FILE
            mountPath: /src/nitter.conf

    podAnnotations:
      secret.reloader.stakater.com/reload: nitter

    resources:
      requests:
        cpu: 5m
        memory: 10Mi
      limits:
        memory: 10Mi
