---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: kubelet-csr-approver
  namespace: kube-system
spec:
  interval: 30m
  chart:
    spec:
      chart: kubelet-csr-approver
      version: 0.2.8
      sourceRef:
        kind: HelmRepository
        name: postfinance
        namespace: flux-system
      interval: 30m
  values:
    bypassDnsResolution: true
    providerRegex: |
      ^(k8s[0-9]).*
