---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: whoogle
  namespace: selfhosted
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    image:
      repository: docker.io/benbusby/whoogle-search
      tag: 0.8.3

    env:
      WHOOGLE_ALT_TW: nitter.greyrock.casa
      WHOOGLE_ALT_YT: invidious.greyrock.casa
      WHOOGLE_ALT_IG: imginn.com
      WHOOGLE_ALT_RD: libreddit.greyrock.casa
      WHOOGLE_ALT_MD: scribe.greyrock.casa
      WHOOGLE_ALT_TL: ""
      WHOOGLE_ALT_IMG: bibliogram.art
      WHOOGLE_ALT_IMDB: ""
      WHOOGLE_ALT_WIKI: ""
      WHOOGLE_ALT_QUORA: ""
      WHOOGLE_CONFIG_ALTS: 1
      WHOOGLE_CONFIG_THEME: system
      WHOOGLE_CONFIG_URL: "https://search.greyrock.casa"
      WHOOGLE_CONFIG_GET_ONLY: 1
      WHOOGLE_CONFIG_COUNTRY: US
      WHOOGLE_CONFIG_VIEW_IMAGE: 1
      WHOOGLE_CONFIG_DISABLE: 1

    service:
      main:
        ports:
          http:
            port: 5000

    ingress:
      main:
        enabled: true
        ingressClassName: "internal-nginx"
        hosts:
          - host: &host "search.greyrock.casa"
            paths:
              - path: /
        tls:
          - hosts:
              - *host

    podAnnotations:
      secret.reloader.stakater.com/reload: whoogle

    resources:
      requests:
        cpu: 5m
        memory: 128M
      limits:
        memory: 128M
