---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: miniflux
  namespace: selfhosted
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.3.2
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controller:
      annotations:
        reloader.stakater.com/auto: "true"

    initContainers:
      init-db:
        image: ghcr.io/onedr0p/postgres-initdb:14.7@sha256:ef45ba2c0d434d316106b15261982a82190c942f1cec250f1ebbd42aebc6e104
        envFrom:
          - secretRef:
              name: miniflux-secret

    image:
      repository: miniflux/miniflux
      tag: 2.0.42

    env:
      CREATE_ADMIN: "0"
      POLLING_SCHEDULER: "entry_frequency"
      POLLING_FREQUENCY: "15"
      RUN_MIGRATIONS: "1"
      OAUTH2_USER_CREATION: "1"
      OAUTH2_PROVIDER: oidc
      OAUTH2_REDIRECT_URL: "https://miniflux.greyrock.tech/oauth2/oidc/callback"

    envFrom:
      - secretRef:
          name: miniflux-secret

    service:
      main:
        ports:
          http:
            port: 8080

    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/instance: "todd"
          hajimari.io/icon: "mdi:rss"
          external-dns.alpha.kubernetes.io/target: ingress.greyrock.tech
        hosts:
          - host: &host "miniflux.greyrock.tech"
            paths:
              - path: /
        tls:
          - hosts:
              - *host

    probes:
      liveness:
        enabled: true
        custom: true
        spec:
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 1
          failureThreshold: 3
          httpGet:
            path: /healthcheck
            port: 8080

    resources:
      requests:
        cpu: 20m
        memory: 256M
      limits:
        memory: 1028M
