greyrock-ops-k8s1.greyrock.io.yaml
greyrock-ops-k8s2.greyrock.io.yaml
greyrock-ops-k8s3.greyrock.io.yaml
greyrock-ops-k8s4.greyrock.io.yaml
greyrock-ops-k8s5.greyrock.io.yaml
greyrock-ops-k8s6.greyrock.io.yaml
talosconfig
