---
apiVersion: v1
kind: Service
metadata:
  name: unifi
  namespace: network
  labels:
    app.kubernetes.io/name: unifi
    app.kubernetes.io/instance: unifi
spec:
  type: ExternalName
  externalName: unifi.
  ports:
    - name: http
      port: &port 443
      protocol: TCP
      targetPort: *port
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: unifi
  namespace: network
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    hajimari.io/enable: "true"
    hajimari.io/instance: "todd,andy"
    hajimari.io/icon: "router-wireless-settings"
  labels:
    app.kubernetes.io/name: unifi
    app.kubernetes.io/instance: unifi
spec:
  ingressClassName: internal-nginx
  rules:
    - host: &host unifi.greyrock.casa
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: unifi
                port:
                  number: 443
  tls:
    - hosts:
        - *host
